.form_container{
    display: flex;
    flex-direction: column;
  
}

.form_container > span{
    align-self: flex-end;
    font-size: 0.88rem;
    font-weight: 500;
    opacity: .7;
    color: #031818;
}

.form_container > button{
    margin-top: 2.5rem;
}