.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  padding: 6px 20px;
  border-radius: 12px;
  font-weight: 500;
  background-color: #00DF81;
  color: #F1F7F6;
}