.login_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.login_container > .texts_header{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 2rem 0 2.3rem 0;
}

.login_container > .texts_header h1{
    font-size: 2.4rem;
    line-height: 1.3;
    letter-spacing: .3px;
}
.login_container > .texts_header p{
    font-weight: 450;
    line-height: 1.4;
    letter-spacing: .3px;
    font-size: 1.2rem;
    color: rgba(2, 20, 20, 0.664);
}
.login_container >  form > button{
    margin-top: 2rem;
}

.login_container > span:last-child{
    font-size: 0.88rem;
    font-weight: 500;
    margin-top: auto;
    opacity: .8;
    align-self: center;


}
.login_container > span > a{
    color: #0B3D3A;
    margin-left: 3px;
    font-weight: 700;
    opacity: 1;
}
