.reset_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1.8rem;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.reset_container::-webkit-scrollbar {
    display: none;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.texts > h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: .3px;
}

.texts>p {
    font-weight: 400;
    line-height: 1.4;
    font-size: 1rem;
    color: rgba(58, 58, 58, 0.8);
    width: 90%;
}

.form_container {
    display: flex;
    flex-direction: column;
}

.error_message {
    color: #e74c3c;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.button_container {
    margin-top: 2rem;
}