.loading_container{
    position: fixed;
    inset: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    overflow-y: scroll;
    z-index: 2;
    background-color: rgba(217, 217, 231, 0.3);
}

.loading_container > img{
    height: 100px;
    width: 100px;
    object-fit: cover;
}
