/* Reset básico */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nata Sans", sans-serif;
}

html, body, #root{
  height: 100dvh;
  overflow: hidden;
}
#root{
  max-width: 450px;
  margin: 0 auto;
}

body {
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

body::-webkit-scrollbar,
div::-webkit-scrollbar{
  display: none;             /* Chrome, Safari e Opera */
}

div{
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


/* Listas */
ul,
ol {
  list-style: none;
}

/* Botões e inputs */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  border: none;
  background: none;
}
form{
    display: flex;
    flex-direction: column;
}
/* Cabeçalhos */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a:focus,
a:focus-visible,

a:active,
a:visited {
  outline: none;
  box-shadow: none;
}

a img {
  outline: none;
  box-shadow: none;
}
