.listContainer {
    display: flex;
    flex-direction: column;
}

.bottomSpacer {
    height: 100px;
}

.statusText {
    text-align: center;
    color: #888;
    font-size: 14px;
    padding: 32px 0;
}
