.email_container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.email_container > .img{
    max-width: 200px;
    min-width: 80px;
    min-height: 40px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin-bottom: 1rem;
   
}

.email_container > .img > img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.email_container > .texts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2.5rem;

}

.texts > h1{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: .3px;
}
.texts > p{
    font-weight: 400;
    line-height: 1.4;
    font-size: 1rem;
    color: rgba(58, 58, 58, 0.8);
}

.email_container > button{
    max-width: 200px;
}