.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: rgba(230, 244, 239, 0.575);
  border-radius: 12px;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.backButton:hover {
  background-color: #D4EEE5;
}

.icon {
  color: #0B3D3A;
  width: 28px;
  height: 28px;
  stroke-width: 2.5px;
}
