.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: rgba(230, 244, 239, 0.575);
  border-radius: 12px;
  padding: 0;
}

.backButton:hover {
  background-color: #D4EEE5;
}
