.forgot_container{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1.8rem;
    overflow-y: scroll;
    scrollbar-width: none;     /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.forgot_container::-webkit-scrollbar {
  display: none;             /* Chrome, Safari e Opera */
}
.forgot_container > .img{
    max-width: 100%;
    max-height: 250px;
    width: auto;
    height: auto;
    margin-top: 2rem; 
}
.forgot_container > .img > img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.under_img_container{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

}
.texts{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.texts > h1{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: .3px;
}
.texts > p{
    font-weight: 400;
    line-height: 1.4;
    font-size: 1rem;
    color: rgba(58, 58, 58, 0.8);
    width: 90%;

}

